version: '3.8'

services:
    minio:
        image: minio/minio:${MINIO_VERSION:-latest}
        restart: unless-stopped
        command: server /data --console-address ":9001"
        volumes:
            - minio-data:/data
        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
        ports:
            - '${MINIO_API_PORT:-9000}:9000'
            - '${MINIO_CONSOLE_PORT:-9001}:9001'
        networks:
            - devnet
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    minio-data:

networks:
    devnet:
