version: "3.8"
services:
  jaeger:
    image: jaegertracing/all-in-one:${JAEGER_VERSION:-latest}
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver
    networks:
      - devnet

networks:
  devnet:
    external: true
