# pgvector Configuration
PGVECTOR_VERSION={{cs.PGVECTOR_VERSION}}
PGVECTOR_DB={{cs.PGVECTOR_DB}}
PGVECTOR_USER={{cs.PGVECTOR_USER}}
PGVECTOR_PASSWORD={{cs.PGVECTOR_PASSWORD}}
PGVECTOR_PORT={{cs.PGVECTOR_PORT}}
