version: '3.8'

services:
    mongodb:
        image: mongo:${MONGODB_VERSION:-8}
        restart: unless-stopped
        volumes:
            - mongodb-data:/data/db
            - mongodb-config:/data/configdb
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER:-root}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD:-example}
        ports:
            - '${MONGODB_PORT:-27017}:27017'
        networks:
            - devnet
        healthcheck:
            test: ['CMD', 'mongosh', '--eval', "db.adminCommand('ping')"]
            interval: 10s
            timeout: 5s
            retries: 5

    mongo-express:
        image: mongo-express:${MONGO_EXPRESS_VERSION:-latest}
        restart: unless-stopped
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_USER:-root}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_PASSWORD:-example}
            ME_CONFIG_MONGODB_URL: mongodb://${MONGODB_USER:-root}:${MONGODB_PASSWORD:-example}@mongodb:27017/
            ME_CONFIG_BASICAUTH: false
        ports:
            - '${MONGO_EXPRESS_PORT:-8081}:8081'
        networks:
            - devnet
        depends_on:
            mongodb:
                condition: service_healthy

volumes:
    mongodb-data:
    mongodb-config:

networks:
    devnet:
