version: '3.8'

services:
    redis:
        image: redis:${REDIS_VERSION:-7}-alpine
        restart: unless-stopped
        volumes:
            - redis-data:/data
        ports:
            - '${REDIS_PORT:-6379}:6379'
        command: redis-server --appendonly yes ${REDIS_PASSWORD:+--requirepass "$REDIS_PASSWORD"}
        environment:
            REDIS_PASSWORD: ${REDIS_PASSWORD:-}
        networks:
            - devnet

volumes:
    redis-data:

networks:
    devnet:
