# Apache Jena Fuseki Configuration
FUSEKI_VERSION={{cs.FUSEKI_VERSION}}
FUSEKI_PORT={{cs.FUSEKI_PORT}}
FUSEKI_ADMIN_PASSWORD={{cs.FUSEKI_ADMIN_PASSWORD}}
FUSEKI_DATASET={{cs.FUSEKI_DATASET}}
FUSEKI_SEED_FILE={{cs.FUSEKI_SEED_FILE}}
FUSEKI_SEED_DIR={{cs.FUSEKI_SEED_DIR}}
FUSEKI_SEED_MODE={{cs.FUSEKI_SEED_MODE}}
FUSEKI_SEED_GRAPH={{cs.FUSEKI_SEED_GRAPH}}
FUSEKI_SEED_CONTENT_TYPE={{cs.FUSEKI_SEED_CONTENT_TYPE}}
