services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/base:debian
    volumes:
      # Mount workspace
      - ../..:/workspaces:cached
    command: sleep infinity
    networks:
      - devnet

networks:
  devnet:
