# PostgreSQL Configuration
POSTGRES_VERSION={{cs.POSTGRES_VERSION}}
POSTGRES_DB={{cs.POSTGRES_DB}}
POSTGRES_USER={{cs.POSTGRES_USER}}
POSTGRES_PASSWORD={{cs.POSTGRES_PASSWORD}}
POSTGRES_PORT={{cs.POSTGRES_PORT}}
